@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background colors */
  --light-bg: #f2f2f2;
  --dark-bg: #2d2d2d;

  /* Accent colors */
  --badge-clr: #9d162e;

  /* font colors */
  --light-font-clr: #2d2d2d;
  --light-hover-clr: #00396f;
  --light-pressed-clr: #002243;

  --dark-font-clr: #ffffff;
  --dark-hover-clr: #e3e9ef;
  --dark-pressed-clr: #aabdcf;

  --section-light: #1c4f7f;
  --section-dark: #aabdcf;
}
