@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background colors */
  --light-bg: #f2f2f2;
  --light-bg-content: #fff;
  --dark-bg: #2d2d2d;
  --dark-bg-content: #484848;

  /* Accent colors */
  --badge-clr: #9d162e;

  /* font colors */
  --light-font-clr: #2d2d2d;
  --light-hover-clr: #00396f;
  --light-pressed-clr: #002243;

  --dark-font-clr: #ffffff;
  --dark-hover-clr: #e3e9ef;
  --dark-pressed-clr: #aabdcf;

  /* Section colors */
  --section-light: #1c4f7f;
  --section-hover-light: #00396F1A;
  --section-hover-light-border: #557B9F;
  --section-active-light: #00396F0D;
  --section-active-light-border: #00396F;  

  --section-dark: #aabdcf;
  --section-hover-dark: #F8E9E81A;
  --section-hover-dark-border: #E3E9EF;
  --section-active-dark: #F8E9E80D;
  --section-active-dark-border: #C6D3DF;

  /* Tooltip */
  --tooltip-clr: #2D2D2D99;

  /* Borders */
  --border-clr: #DBDBDB;

  /* Sizes */
  --sidebar-w: 250px;
  --badge-height: 111px;
  --badge-button-width: 140px;

  /* Box Shadow */
  --shadow-light: box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
}
